
<%= form_for [@story, @contribution] do |f| %>
  <%= f.hidden_field :image, :value => @image %>
  <%= f.text_area :sentence, :class => 'form-control'%>
  <br>
  <button type="submit" class="btn btn-info">Submit</button>
<% end %>
