<div class="new-contribution-form">
  <h2>Write a sentence inspired by this image:</h2>

  <%= render 'form' %>
  <br>
    <a href="javascript:history.back()"><button class="btn btn-warning">Cancel</button></a>
    <br>
  <br>
  <%= image_tag "Pepe/#{rand(44)}.jpg" %>
</div>
