<h1>Add your own story!</h1>
<%= render 'form' %>
<hr>

<h2>Latest Stories:</h2>
<% @stories.each do |story| %>
  <div class="col-md-4 custom">
    <h2><%= link_to story.title, story_path(story) %></h2>
  </div>
  <% end %>
