
<h2><%= @story.title %></h2>

<% @story.contributions.each do |contribution| %>
<h4><%= contribution.sentence %></h4>
<% end %>

<h2><%= link_to "Contribute to this story!", new_story_contribution_path(@story) %></h2>
