
@import "bootstrap-sprockets";
@import "bootstrap";


body {
  font-family: 'Inconsolata';
  font-weight: 400;
}

.bold {
  font-family: 'Inconsolata';
  font-weight: 700;
}

.panel-title {
  font-size: 2em;
}

.container {
  padding-top: 30px;
  padding-bottom: 50px;
}

img {
  max-width: 300px;
}

.new-contribution-form {
  text-align: center;
}

.img-pepe {
  height: 45px;
}

.custom-brand {
  padding-bottom: 10px;
  padding-top: 3px !important;
}

#show {
  cursor: pointer;
  color: #0088cc;
}
